<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net461" />
  <package id="FreeSpire.Doc" version="11.6.0" targetFramework="net461" />
  <package id="FreeSpire.XLS" version="12.7.0" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net461" />
  <package id="Spire.PDF" version="10.1.0" targetFramework="net461" />
</packages>